.idea
__pycache__/
*.pyc
*.pyo
*.log
config/config.json
config/proxies.json
maFiles/*.maFile
maFiles/accounts.json
logs/
*.db
.env
venv/
.venv/
.vscode/
*.json
*.html
*.json

# PyInstaller
build/
dist/
*.spec.bak
*.spec~

# Security
security.salt
.github
